{% extends "regular_layout.jinja" %} {% block content %} 

<p>Welcome to NFL picks! Your objective is to try and predict which team will win a game for each week in a given season. 
The family member with the most amount of wins at the end of football season will win!</p>

<ul>
    {% for file in files %}
        <a href="{{ url_for('view_image', id=file.id)}}">
            <li class="list-group-item"><strong>{{file.file_path}} {{file.id}}</strong>  {{file}}
                <img src="{{ url_for('download_file', filename=file.file_path) }}" width="300px">
            </li>
        </a>
        

    {% endfor %}
</ul>

{% endblock content %}