{% extends "layout.jinja" %} {% block content %} 

<ul>
    {% for file in files %}
        <li class="list-group-item"><strong>{{file.file_path}} {{file.id}}</strong>  {{file}}
            <img src="{{ url_for('download_file', filename=file.file_path) }}" width="300px">
        </li>
        

    {% endfor %}
</ul>

{% endblock content %}